/* tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles */

.thumbs {
    display: flex;
    justify-content: center;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 32px;

}

/*Tabs */
.react-tabs__tab-list {
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px !important;
}

.react-tabs__tab {
    font-size: 20px;
    font-weight: 500;
}

.react-tabs__tab--selected {
    font-size: 21px;
    font-weight: 700;
    background: transparent !important;
    border: none !important;
    color: #BB8506 !important;
}
.react-tabs__tab:focus:after {
    background: #BB8506 !important ;

}