/* tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles */

.thumbs{
    display: flex;
    justify-content: center;
}
.swiper-pagination{
    position: relative !important;
    margin-top: 32px;
    
}